body{
    color: rgb(73, 73, 227);
    font-family: Arial, Helvetica, sans-serif;
    background-color: gray;
    text-align: center;
    margin: 0%;
}
img{
    display: block;
    margin: auto;
}

.destaque{
    background-color: black;
    padding: 1px;
}
#Título{
    color: beige;
}
#Titulo2{
    color: beige;
}